html, body {
	height: 100%;
	background: rgba(242, 242, 242, 0.4);
}
.navbar-brand {
	min-height:100px;
}

.row {
	margin-left: 0;
}

.navbar-action {
	margin-left: 8px;
}

.navbar { 
	margin-bottom: 5px;
}

.navbar-right {
	margin-right: 15px;
}

#register_form > input[type="text"] {
	
}


.navbar > .container-fluid .navbar-brand {
	margin-left: 12px;
}

#register_errors li {
	display: none;
	color: red;
}

#register_form > div {
	position: relative;
}

#register_form .glyphicon-ok, #register_form .glyphicon-remove {
	display: none;
}

#register_errors {
	margin-bottom: 30px;
}


#loggedin {
	display: none;
}

form[role="login"] {
	
}

#sidebar .logo {
	margin-bottom: 45px;
	margin-left: 8px;
}

#sidebar {
	float: left;	
	padding-top: 20px;
	height: 100%;
	min-height: 500px;
}

#sidebar li a:hover {
	background: rgb(217, 217, 217);
}

#sidebar li a {
	color: rgb(22, 64, 43);
}

#navbar {
	float: left;
}


.panel {
	padding: 0;
	margin-left: 0px;
}


.profile_pic {
	max-width: 100px;
	max-height: 100px;
	border: 1px #000000 solid;
}

td.space {
	padding: 30px;
}

tr.space td {
	border: none !important;
}

#user_details {
	max-width: 700px;
	border-radius: 10px;
	margin: auto;
}

#user_details td:first-child {
	font-weight: bold;
}

#user_details tr:first-child td {
	border: none;
}

.microb-content, #navbar {
	background:	white;
	-webkit-box-shadow: 0px 0px 14px 1px rgba(130,130,130,0.79);
	-moz-box-shadow: 0px 0px 14px 1px rgba(130,130,130,0.79);
	box-shadow: 0px 0px 14px 1px rgba(130,130,130,0.79);
}

.microb-content {
	margin-top: 2%;
	padding-top: 20px;
}

#sidebar {
	font-size: 20px;
}

.microb-content.col-xs-4 {
	margin-left: 5%;
	padding-bottom: 30px;
	margin-bottom: 2%;
}

li.active[role="presentation"] > a { 
	background-color: rgb(217, 217, 217);
}


.center {
	float: none !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

h1, .title {
	
	color: rgb(190, 190, 190);
	font-size: 50px;
  	-webkit-mask-image: -webkit-linear-gradient(top, rgba(208, 208, 208, 1), rgba(208, 208, 208, .5) 50%, rgba(208, 208, 208, 1));
	-webkit-mask-image: linear-gradient(top, rgba(208, 208, 208, 1), rgba(208, 208, 208, .5) 50%, rgba(208, 208, 208, 1));
}