html, body {
	height: 100%;
}
.navbar-brand {
	min-height:100px;
}

.row {
	margin-left: 0;
}

.navbar-action {
	margin-left: 8px;
}

.navbar { 
	margin-bottom: 40px
}

.navbar-right {
	margin-right: 15px;
}

#register_form > input[type="text"] {
	
}


.navbar > .container-fluid .navbar-brand {
	margin-left: 12px;
}

#register_errors li {
	display: none;
	color: red;
}

#register_form > div {
	position: relative;
}

#register_form .glyphicon-ok, #register_form .glyphicon-remove {
	display: none;
}

#register_errors {
	margin-bottom: 30px;
}


#loggedin {
	display: none;
}

form[role="login"] {
	
}

#sidebar .logo {
	margin-bottom: 45px;
	margin-left: 8px;
}

#sidebar {
	float: left;	
	padding-top: 20px;
	background: rgba(0, 155, 255, 0.4);
	height: 100%;
	min-height: 500px;
}

#navbar {
	float: left;
}